@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.punchLine {
  @apply md:text-[40px] font-[700] text-center;
}
.formStyle {
  @apply text-sm border-[1px] border-gray-700 rounded-lg px-3 focus:outline-none;
}
.formGroup {
  @apply w-[100%] h-[40px];
}

.blogg{
  background-image: url('../src/assets/nnia3.jpg');
}

.home{
  background-image: url('../src/assets/home.jpg'); 
}

.aboutt{
  background-image: url('../src/assets/about.png');
}

.hero{
  background-image: url('../src/assets/bgg.png');
}

.eventt{
  background-image: url('../src/assets/events.png');
}

.memberss{
  background-image: url('../src/assets/members.png');
}

.partner{
  background-image: url('../src/assets/partner.png');
}

.contact{
  background-image: url('../src/assets/nnia2.jpg');
}
